{% extends 'camerahome/base.html'  %}

{% block menulist %}
{% for menu,link  in sidemenu.items %}
<li><a href="{{ link }}">{{ menu }}</a></li>
{% endfor %}
{% endblock %}


{% block page %}
{% if loadform == 'chip' %}
<form name="chipform" method="post" action="{% url 'amendproduct' %}" role="form">
    <legend>Chip Amendment</legend>
    {% csrf_token %}
    <div class="form-group">
        <label for="chip" class="col-sm-2 control-label">Chip</label>
        <input type="text" name="chip" id="chip" class="form-control mys">
    </div>
    <div class="form-group">
        <label for="chip_name" class="col-sm-2 control-label">Name</label>
        <input type="text" name="chip_name" id="chip_name" class="form-control mys">
    </div>    
    <div class="form-group">
        <label for="chip_family" class="col-sm-2 control-label">Family</label>
        <input type="text" name="chip_family" id="chip_family" class="form-control mys">
    </div>
    <div class="form-group">
        <input type="submit" name="chip_submit" value="Chip It" class="btn btn-primary">
        {{ chipform_msg }}
    </div>
</form>
{% elif loadform == 'sp' %}
<form name="spform" method="post" action="{% url 'amendproduct' %}" role="form">
    <legend>SP Amendment</legend>
    {% csrf_token %}
    <div class="form-group">
        <label for="sp" class="col-sm-2 control-label">Software Product</label>
        <input type="text" name="sp" id="sp" class="form-control mys">
    </div>
    <div class="form-group">
        <label for="chip_select" class="col-sm-2 control-label">Chipset</label>
        {% include "amend/chipset.html" %}
    </div>
    <div class="form-group">
        <label for="activepl" class="col-sm-2 control-label">Active</label>
        <input type="checkbox" name="activepl" id="activepl" class="form-control mys">
    </div>
    <div class="form-group">
        <h4>Milestones</h4>
        <label for="sp_soddate" class="col-sm-2 control-label">SoD</label>
        <input type="date" name="sp_soddate" id="datepicker" class="form-control mys" placeholder="mm/dd/yyyy"></input>
        <label for="sp_fcdate" class="col-sm-2 control-label">FC</label>
        <input type="date" name="sp_fcdate" id="datepicker" class="form-control mys" placeholder="mm/dd/yyyy"></input>
        <label for="sp_csdate" class="col-sm-2 control-label">CS</label>
        <input type="date" name="sp_csdate" id="datepicker" class="form-control mys" placeholder="mm/dd/yyyy"></input>
    </div>
    <div class="form-group">
        <input type="submit" name="sp_submit" value="Add SP" class="btn btn-primary">
        {{ spform_msg }}
    </div>
</form>
{% elif loadform == 'area' %}
<form name="areaform" method="post" action="{% url 'amendproduct' %}" role="form">
    <legend>Area Amendment</legend>
    {% csrf_token %}
    <div class="form-group">
        <label for="area" class="col-sm-2 control-label">Area</label>
        <input type="text" name="area" id="area" class="form-control mys">
    </div>
    <div class="form-group">
        <input type="submit" name="area_submit" value="Add Area" class="btn btn-primary">
        <input type="submit" name="default_areas" value="Insert Default Areas" class="btn btn-primary" disabled="true">
        {{ areaform_msg }}
    </div>
</form>
{% elif loadform == 'subarea' %}
<form name="subareaform" method="post" action="{% url 'amendproduct' %}" role="form">
    <legend>Sub Area Amendment</legend>
    {% csrf_token %}
    <div class="form-group">
        <label for="area_select" class="col-sm-2 control-label">Area</label>
        {% include "amend/area.html" %}
    </div>
    <div class="form-group">
        <label for="subarea" class="col-sm-2 control-label">Sub Area</label>
        <input type="text" name="subarea" id="subarea" class="form-control mys">
    </div>
    <div class="form-group">
        <input type="submit" name="subarea_submit" value="Add SubArea" class="btn btn-primary">
        {{ subareaform_msg }}
    </div>
</form>
{% elif loadform == 'geo' %}
<form name="geoform" method="post" action="{% url 'amendproduct' %}" role="form">
    <legend>Geo Amendment</legend>
    {% csrf_token %}
    <div class="form-group">
        <label for="geo" class="col-sm-2 control-label">Geo</label>
        <input type="text" name="geo" id="geo" class="form-control mys"></input>
    </div>
    <div class="form-group">
        <input type="submit" name="geo_submit" value="Insert Geo" class="btn btn-primary">
        {{ geoform_msg }}
    </div>
</form>
{% elif loadform == 'trends' %}
<form name="trendform" method="post" action="{% url 'amendproduct' %}" role="form">
    <legend>Trends Amendment</legend>
    {% csrf_token %}
    <div class="form-group">
        <label for="sp_select" class="col-sm-2 control-label">Software Product</label>
        {% include "amend/sp.html" %}
    </div>
    <div class="form-group">
        <label for="area_select" class="col-sm-2 control-label">Area</label>
        {% include "amend/area.html" %}
    </div>
    <div class="form-group">
        <label for="pstab" class="col-sm-2 control-label">Pre-Silicon Trend</label>
        <table id="pstab">
            {% include "amend/trend.html" %}
        </table>
        <br>
        <input type="button" onclick="addTrend('pstab')" value="Add Trend" class="btn btn-success">
        <input type="button" onclick="deleteTrends('pstab')" value="Delete Selected Trends" class="btn btn-danger">
    </div>
    <div class="form-group">
        <label for="fctab" class="col-sm-2 control-label">FC Trend</label>
        <table id="fctab">
            {% include "amend/trend.html" %}
        </table>
        <br>
        <input type="button" onclick="addTrend('fctab')" value="Add Trend" class="btn btn-success">
        <input type="button" onclick="deleteTrends('fctab')" value="Delete Selected Trends" class="btn btn-danger">
    </div>
    <div class="form-group">
        <label for="cstab" class="col-sm-2 control-label">CS Trend</label>
        <table id="cstab" class="pure-table">
            {% include "amend/trend.html" %}
        </table>
        <br>
        <input type="button" onclick="addTrend('cstab')" value="Add Trend" class="btn btn-success">
        <input type="button" onclick="deleteTrends('cstab')" value="Delete Selected Trends" class="btn btn-danger">
    </div>
    <div class="form-group">
        <input type="submit" name="trend_submit" value="Insert Trends" class="btn btn-primary">
        {{ trendform_msg }}
    </div>
</form>
{% elif loadform == 'counts' %}
<form name="countform" method="post" action="{% url 'amendproduct' %}" role="form" id="countform">
    <legend>Test Case Counts Amendment</legend>
    {% csrf_token %}
    <div class="form-group">
        <label for="sp_select" class="col-sm-2 control-label">Software Product</label>
        {% include "amend/sp.html" %}
    </div>
    <div class="form-group" style="display:none" id="areafield">
        <label for="area_select" class="col-sm-2 control-label">Area</label>
        {% include "amend/area.html" %}
        <input type="hidden" name="area_select" id="hidenarea">
    </div>
    <div class="form-group fatforms" id="countstable" style="display:none">
        <table id="mainTable" class="table">
            {% include "amend/tccounts.html" %}
        </table>
    </div>
    <div class="form-group">
        <input type="submit" name="count_submit" value="Freeze Counts" class="btn btn-primary">
        <input type="submit" name="count_submit" value="Modify Counts" disabled="true" class="btn btn-primary">
        <input type="submit" name="count_submit" value="Fetch Counts" disabled="true" class="btn btn-primary">
        {{ countsform_msg }}
    </div>
</form>
{% endif %}
<script>
    $('#countform select[name="sp_select"]').change(function(e) {
        $('#areafield').show();
    });
    
    $('#countform select[name="area_select"]').change(function(e) {
        document.getElementById('hidenarea').value = document.getElementById('area_select').value;
        document.getElementById('area_select').disabled = true;
        $('#countstable').show();
        populateTable('mainTable', 'area_select');
    });
</script>
{% endblock %}
