<thead class="thead-inverse">
    <tr>
        <th style="text-align: center">Sub Area</th>
        <th style="text-align: center">Geo</th>
        <th style="text-align: center">Level</th>
        <th style="text-align: center">Total</th>
        <th style="text-align: center">Coverage</th>
        <th style="text-align: center">Pass</th>
        <th style="text-align: center">Fail</th>
        <th style="text-align: center">Block</th>
        <th style="text-align: center">NA/NR</th>
        <th style="text-align: center">Cov %</th>
        <th style="text-align: center">Pass %</th>
        <th style="text-align: center">Fail %</th>
        <th style="text-align: center">Block %</th>
    </tr>
</thead>
<tbody>

</tbody>
<script type="text/javascript">
function populateTable(tableID, areaID, spID) {
    var area_select = document.getElementById(areaID);
    var sp_select = document.getElementById(spID);
    area = area_select.value;
    sp = sp_select.value;
    $.getJSON('/api/rest/amend/casecounts/?sp_id=' + sp + '&area=' + area + '&format=json').then(function(data){
        counts_data = data.results;
        for (var cd in counts_data) {
            var iname = counts_data[cd]['sub_area']['subarea'] + "_" + counts_data[cd]['location']['geo'] + "_";
            iname.concat(counts_data[cd]['level']);
            if (parseInt(counts_data[cd]['count'], 10) > 0) {
                var nr = '<tr>';
                nr = nr.concat('<td>' + counts_data[cd]['sub_area']['subarea'] + '</th>');
                nr = nr.concat('<td>' + counts_data[cd]['location']['geo'] + '</th>');
                nr = nr.concat('<td>' + counts_data[cd]['level'] + '</td>');
                nr = nr.concat('<td>' + counts_data[cd]['count'] + '</td>');
                nr = nr.concat('<td name="' + iname + '_cov"></td>');
                nr = nr.concat('<td style="text-align: center"><input max="10000000" min="0" type="number" name="' + iname + '_pass" onkeyup="calc('+ tableID + ');"></td>');
                nr = nr.concat('<td style="text-align: center"><input max="10000000" min="0" type="number" name="' + iname + '_fail" onkeyup="calc('+ tableID + ');"></td>');
                nr = nr.concat('<td style="text-align: center"><input max="10000000" min="0" type="number" name="' + iname + '_block" onkeyup="calc('+ tableID + ');"></td>');
                nr = nr.concat('<td style="text-align: center"><input max="10000000" min="0" type="number" name="' + iname + '_nanr" onkeyup="calc('+ tableID + ');"></td>');
                nr = nr.concat('<td></td>');
                nr = nr.concat('<td></td>');
                nr = nr.concat('<td></td>');
                nr = nr.concat('<td></td>');
                nr = nr.concat('</tr>');
                $("#" + tableID + " tbody").append(nr);
            }
        }
    });
}

function isNumber(n) {
    return !isNaN(parseFloat(n)) && isFinite(n);
}

function calc(element) {
    var tb = element.children[1];
    var rowCount = tb.rows.length;
    var colCount = tb.rows[0].cells.length;
    for (var r = 0; r < rowCount; r ++) {
        var tot = 0;
        for (var c = 5; c <= 9; c ++) {
            if (c < 9) {
                var fetched = tb.children[r].children[c].children[0].value;
                if (fetched === "" || !isNumber(fetched)) {
                    fetched = 0;
                }

                fetched = parseInt(fetched, 10);
                if (c == 5) {
                    var pass = fetched;
                }else if (c == 6) {
                    var fail = fetched;
                }else if (c == 7) {
                    var block = fetched;
                }else if (c == 8) {
                    pass += fetched;
                }
                tot = tot + fetched;
            } else {
                tb.children[r].children[4].innerHTML = tot;
                tb.children[r].children[9].innerHTML = (tot * 100)/tb.children[r].children[3].innerHTML;
                tb.children[r].children[10].innerHTML = (pass * 100)/tb.children[r].children[3].innerHTML;
                tb.children[r].children[11].innerHTML = (fail * 100)/tb.children[r].children[3].innerHTML;
                tb.children[r].children[12].innerHTML = (block * 100)/tb.children[r].children[3].innerHTML;
                if (tb.children[r].children[9].innerHTML > 100) {
                    tb.children[r].children[9].style.color = "red";
                    tb.children[r].children[10].style.color = "red";
                    tb.children[r].children[11].style.color = "red";
                    tb.children[r].children[12].style.color = "red";
                }
            }
        }
    }
}
</script>